#These are the parameters that must be configured in a .env file.

SITE_URL=

GRAPHQL_SERVER_PORT=
GRAPHQL_SERVER_HOST=
GRAPHQL_SERVER_PATH=

NEO4J_DATABASE=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

JWT_SECRET=
SALT_COUNT=

EMAIL_ACCOUNT=
EMAIL_PASSWORD=

IMAGE_DIR=
#Note: This API server hosts the images. But the url must be that of the web client, in order for the React proxy to get around CORS properly
IMAGE_LINK_PRE=
